@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --alarm-background: grey;
    --alarm-background-color: #fff;
    --alarm-color: black;
    --alarm-border: 2px solid #333;
    --header-icons-hover: rgba(224, 221, 221, 0.8);
    --alarm-li: #333;
    --days-li-not-active-hover-before: #f2f2f2;
    --switch-bg-url: url(moon-stars.svg);
    --button-color: #333;
}
  
.dark {
    --alarm-background: #222;
    --alarm-background-color: #333;
    --alarm-color: #fff;
    --alarm-border: 2px solid #fff;
    --header-icons-hover: rgba(255, 255, 255, 0.096);
    --alarm-li: #fff;
    --days-li-not-active-hover-before: #333;
    --switch-bg-url: url(sun.svg);
    --button-color: white;
}

alarm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--alarm-background); 
}

.relogio config{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 10px;
    background: var(--alarm-background-color);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div{
    display: flex;
    height: 170px;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--alarm-color);
    background: var(--alarm-background);
    box-shadow: 5 5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    letter-spacing: 3px;
}

.relogio span{
    font-size: 60px;
    font-weight: bolder;
}

.relogio span.tempo{
    font-size: 30px;
}

.relogio .icons button{
    height: 10px;
    border: 1px solid red;
}